<!--<header>
    <h1>Welcome to the HN .Net MVC pratical work</h1>
</header> -->
@model TPLOCAL1.Models.Form
<head>
    <link rel="stylesheet" href="~/resources/Index.css" />
    <link rel="stylesheet" href="~/resources/Form.css" />
    <title>Formulaire</title>
</head>





<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/AvisList">Liste avis</a></li>
        </ul>
    </nav>
    <section>

        <form>
            <table>
                <caption>Informations personnelles</caption>
                <tr>
                    <th>Nom</th>
                    <th>
                        <input type="text" asp-for="Nom" />
                    </th>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <th>
                        <input type="text" asp-for="Prenom" />
                    </th>
                </tr>
                <tr>
                    <th>Genre</th>
                    <th>
                        <select id ="genre" asp-for="Genre">
                            <option value="">Selectionner un sexe</option>
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                            <option value="Autre">Autre</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <th>
                        <input type="text" asp-for="Adresse" />
                    </th>
                </tr>
                <tr>
                    <th>Code Postal</th>
                    <th>
                        <input type="number" asp-for="CodePostal"/>
                        <span asp-validation-for="CodePostal"></span>
                    </th>
                </tr>
                <tr>
                    <th>Ville</th>
                    <th>
                        <input type="text" asp-for="Ville" />
                    </th>
                </tr>
                <tr>
                    <th>Adresse courriel</th>
                    <th>
                        <input type="email" asp-for="AdresseCourriel" />
                    </th>
                </tr>
            </table>
        </form>


        <form>
            <table>
                <caption>Informations formation suivie</caption>
                <tr>
                    <th>Date début formation</th>
                    <th>
                        <input type="date" asp-for="DateDebut" />
                    </th>
                </tr>
                <tr>
                    <th>Formation suivie</th>
                    <th>
                        <select id="formation" asp-for="Formation">
                            <option value="">Sélectionnez un cours</option>
                            <option value="Formation Cobol">Formation Cobol</option>
                            <option value="Formation par objet">Formation par objet</option>
                            <option value="Formation à double compétence">Formation à double compétence</option>
                        </select>
                    </th>
                </tr>
            </table>
        </form>

        <form>
            <table>
                <caption>Avis sur la formation</caption>
                <tr>
                    <th>Formation Cobol</th>
                    <th>
                        <input type="text" asp-for="AvisMainframe"/>
                    </th>
                </tr>
                <tr>
                    <th>Formation C#</th>
                    <th>
                        <input type="text" asp-for="AvisCs"/>
                    </th>
                </tr>
            </table>
        </form>
    </section>

</body>
