@model IEnumerable<TPLOCAL1.Models.Opinion>

<body>

    <section>
        <table>
            <caption>Liste</caption>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Avis donné</th>
                </tr>
            </thead>
            <tbody>
               
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @if(item.OpinionGiven == "O")
                            {
                                <p style="background-color : forestgreen; text-align : left;">Oui</p>
                            }
                            else
                            {
                                <p style="background-color : red; text-align : left;">Non</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </section>
    



</body>