

table {
    border : 1px solid black;
}

td {
    border: 1px solid black;
}

th {
    text-align : left;
    border: 1px solid black;
    font-weight : normal;
}

p {
    text-align : left;
}

.field-validation-error {
    color : red;
    background-color : yellow;
}